$light-color-gray: #F8F8F8
$dark-color-gray: #C1C1C1
$second-dark-gray: #4C4C4C
$color-white: #FFFFFF
$color-dark: #191919
$color-yellow: #F4E8B8

*,*:before,*:after
  padding: 0
  margin: 0
  box-sizing: inherit

html
  box-sizing: border-box
  font: 18px/1.5'Montserrat', sans-serif
  scroll-behavior: smooth

body, input, textarea, option, select, table, form, p
  font: inherit 
  // font-weight: 300

h2
  font-size: 80px
h3
  font-size: 60px
h4
  font-size: 30px
h5
  font-size: 18px

h2,h3,h4
  font-family: 'Prata', serif

a
  color: $dark-color-gray
  text-decoration: none !important
li
  list-style: none

p,h5
  font-weight: 300
  color: $second-dark-gray

.container
  max-width: 1366px
  margin: 0 auto

.mb 
  margin-bottom: 120px
.pt
  padding-top: 120px
.pt-products
  padding-top: 220px


@media (max-width: 768px)
  h2,h3
    font-size: 60px

label
  font-weight: 300

.a-btn
  color: $color-dark
  font-size: 14px
  font-weight: 400
  text-decoration: underline !important
  transition: 0.3s
  &:hover
    color: $dark-color-gray