.k-btn-primary
  display: inline-flex
  position: relative
  background-color: $second-dark-gray
  color: $color-white !important
  padding: 0.5rem 2rem !important
  font-weight: 300
  margin: 1em 0
  &.secondary
    background-color: $color-white
    color: $color-dark !important

.k-btn-primary:hover
  background-color: $color-dark

  &::before
    left: 12%
    transition: all 0.3s

  &::after
    right: 12%
    transition: all 0.3s

  &.secondary
    background-color: $dark-color-gray

.k-btn-primary::before
  position: absolute
  content: "["
  left: 15%
  transition: all 0.3s

.k-btn-primary::after
  position: absolute
  content: "]"
  right: 15%
  transition: all 0.3s

// Event section - buttons
.third-btn
  padding: 0rem 1rem
  position: relative
  &:hover
    color: $color-dark !important

    &::before
      left: 10% !important
      top: -10%
    &::after
      right: 10%
      top: -10%
      

.third-btn::before
  position: absolute
  content: "["
  left: 12%
  top: -10%
  transition: all 0.3s
  
.third-btn::after
  position: absolute
  content: "]"
  right: 12%
  top: -10%
  transition: all 0.3s