// header

header
  position: fixed
  top: 0
  left: 0
  background-color: $color-white
  width: 100%
  z-index: 101

.bg-lan
  font-size: 15px
  transition: 0.3s
  font-weight: 300
  &:hover
    color: $color-dark
    transition: 0.3s
 
.navbar-nav
  opacity: 1
  transition: 0.3s
  &:hover
    opacity: 0.8
  .nav-item
    padding: 0 .5rem
    .nav-link
      font-size: 15px
      transition: 0.3s
      &:hover
        opacity: 1
        color: $color-dark !important

  .header-icons
    opacity: 1
    transition: 0.3s
  &:hover
    opacity: 0.5
.icon
  transition: 0.3s
  opacity: 0.5
  &:hover
    opacity: 1

form
  border-radius: 0.1em
  border-color: $dark-color-gray
  input
    font-size: 12px
    opacity: 0.5
    transition: 0.3s
    &:hover
      opacity: 1
    &:focus
      outline: none
  .search-btn
    opacity: 0.5
    &:hover
      opacity: 1
    
.navbar-toggler:focus
  outline: none

.result-list
  position: absolute
  right: 0
  top: 65px
  .list-group-item
    font-size: 12px
    
// hero
.hero-section
  background-image: url('../images/Brands+Categories/JIL SANDER_FW19_ADV CAMPAIGN (13).jpg')
  height: 100vh
  background-size: cover
  background-position: center center
  position: relative
  .container-fluid
    z-index: 1
  &:before
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 0
    background: rgba(65, 65, 65, 0.3)

    // on trend
.items-on-trend
  img
    height: 320px
    object-fit: counter-reset
    position: relative
  span
    font-weight: 700
  &:before
    position: absolute
    content: "ON TREND"
    top: -5px
    left: 15px
    padding: 0.5em 0.5em 0.2em 0.5em
    background-color: $color-yellow
    color: $color-dark
    font-size: 10px
    z-index: 1
    font-weight: 300

     // Products
.arrow-down
  width: 15px
.items-on-trend-all
  text-align: center
  padding: 2rem 0 2rem 0
  img
    height: 320px
    object-fit: cover
    position: relative
  span
    font-weight: 700
  
  &.off
    &:before
      position: absolute
      content: "20% OFF"
      top: -5px
      left: 15px
      padding: 0.5em 0.5em 0.2em 0.5em
      background-color: $dark-color-gray
      color: $color-dark
      font-size: 10px
      z-index: 1
      font-weight: 300
 
label
  position: relative
  &::before
    display: block
    content: ""
    position: absolute
    padding: 0.3em 
    left: 0
    top: 50%
    transform: translateY(-50%)
    border: 1px solid white
    outline: 2px solid black

input[type=checkbox]:checked + label::before
    content: ''
    background-color: $color-dark
  
.show
  .dropdown-toggle::after
    transition: 0.3s
    transform: rotate(180deg)

.slider-price
  -webkit-appearance: none
  width: 100%
  height: 3px
  background: #D3D3D3
  outline: none
  opacity: 0.7
  -webkit-transition: .2s
  &:hover 
    opacity: 1
  &::-webkit-slider-thumb 
    appearance: none
    width: 15px
    height: 15px
    background: url("../images/icons/square.svg")
    background-size: cover
    cursor: pointer
    
// helmut
.img-helmut
  width: 100%
// michel kors
.michel-kors
  order: 1
.michel-kors-img
  order: 2
@media (max-width: 992px)
  .michel-kors
    order: 2
  .michel-kors-img
    order: 1
  // gifts

// beauty
.boxes
  display: flex
  flex-direction: column
  height: 100%
  padding: 1rem
  img
    height: 300px
    object-fit: contain
  h5
    flex-grow: 1
 
.slider
  position: relative
  .arrows
    img
      width: 20px
      position: absolute
      content: ''
    .arrow-left
      left: 0
      top: 50%
      transform: translateY(-50%)  
    .arrow-right
      right: 0
      top: 50%
      transform: translateY(-50%)  
  &:hover
    background-color: $color-white
  
@media (max-width: 992px)
  .arrows
    display: none



// tom dixon
#tom-dixon
  .bg-fon-decoration
    position: relative
    &::before
      position: absolute
      content: ""
      top: -10%
      width: 100%
      height: 60px
      background-color: $light-color-gray

// home

// events
#events
  .img-ctr
    overflow: hidden
    img
      height: 300px
      object-fit: cover
  .card-body
    span,time,a
      font-size: 14px
      color: $dark-color-gray

.card-img-top
  transition: all .3s 
  &:hover
    transform: scale(1.1)
@media(max-width: 576px)
  .event-mq
    display: flex
    flex-direction: column


//instagram
.img-container
  height: 200px
  width: 200px
  margin: 0 auto
  img
    height: 100%
    object-fit: cover
    transition: all .3s 

    &:hover
      transform: scale(1.1)

  // footer
.footer
  position: relative
  font-weight: 300
  a,p
    color: $color-dark
    font-size: 15px
    transition: 0.3s
  a:hover
    opacity: 0.5
  &::before
    position: absolute
    content: ""
    top: -160px
    width: 100%
    height: 160%
    background-color: $light-color-gray
    z-index: -1
@media (max-width: 768px)
  .copyright
    display: flex
    flex-direction: column
    align-items: center
  .footer-content
    display: flex
    flex-direction: column
    justify-content: center

// bose
.success-message
  display: none
  .success-message-con
    display: flex
    align-items: center
    justify-content: space-around
    border: 1px solid black
    width: 50%
    padding: 0.5em
    font-size: 12px
    color: #71DE56 
    img
      height: 14px
.numbers
  color: black

.basket-popup
  display: none
  width: 600px
  position: absolute
  background-color: #fff !important
  left: 60%
  top: 40%
  z-index: 500
  .img-basket
    width: 80px

.img-sm
  width: 14px

button
  img
    width: 20px