*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 18px/1.5 "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body, input, textarea, option, select, table, form, p {
  font: inherit;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

h2, h3, h4 {
  font-family: 'Prata', serif;
}

a {
  color: #C1C1C1;
  text-decoration: none !important;
}

li {
  list-style: none;
}

p, h5 {
  font-weight: 300;
  color: #4C4C4C;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.mb {
  margin-bottom: 120px;
}

.pt {
  padding-top: 120px;
}

.pt-products {
  padding-top: 220px;
}

@media (max-width: 768px) {
  h2, h3 {
    font-size: 60px;
  }
}

label {
  font-weight: 300;
}

.a-btn {
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.a-btn:hover {
  color: #C1C1C1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 101;
}

.bg-lan {
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 300;
}

.bg-lan:hover {
  color: #191919;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav:hover {
  opacity: 0.8;
}

.navbar-nav .nav-item {
  padding: 0 .5rem;
}

.navbar-nav .nav-item .nav-link {
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
  color: #191919 !important;
}

.navbar-nav .header-icons {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav:hover {
  opacity: 0.5;
}

.icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

form {
  border-radius: 0.1em;
  border-color: #C1C1C1;
}

form input {
  font-size: 12px;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form input:hover {
  opacity: 1;
}

form input:focus {
  outline: none;
}

form .search-btn {
  opacity: 0.5;
}

form .search-btn:hover {
  opacity: 1;
}

.navbar-toggler:focus {
  outline: none;
}

.result-list {
  position: absolute;
  right: 0;
  top: 65px;
}

.result-list .list-group-item {
  font-size: 12px;
}

.hero-section {
  background-image: url("../images/Brands+Categories/JIL SANDER_FW19_ADV CAMPAIGN (13).jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero-section .container-fluid {
  z-index: 1;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(65, 65, 65, 0.3);
}

.items-on-trend img {
  height: 320px;
  -o-object-fit: counter-reset;
     object-fit: counter-reset;
  position: relative;
}

.items-on-trend span {
  font-weight: 700;
}

.items-on-trend:before {
  position: absolute;
  content: "ON TREND";
  top: -5px;
  left: 15px;
  padding: 0.5em 0.5em 0.2em 0.5em;
  background-color: #F4E8B8;
  color: #191919;
  font-size: 10px;
  z-index: 1;
  font-weight: 300;
}

.arrow-down {
  width: 15px;
}

.items-on-trend-all {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.items-on-trend-all img {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.items-on-trend-all span {
  font-weight: 700;
}

.items-on-trend-all.off:before {
  position: absolute;
  content: "20% OFF";
  top: -5px;
  left: 15px;
  padding: 0.5em 0.5em 0.2em 0.5em;
  background-color: #C1C1C1;
  color: #191919;
  font-size: 10px;
  z-index: 1;
  font-weight: 300;
}

label {
  position: relative;
}

label::before {
  display: block;
  content: "";
  position: absolute;
  padding: 0.3em;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid white;
  outline: 2px solid black;
}

input[type=checkbox]:checked + label::before {
  content: '';
  background-color: #191919;
}

.show .dropdown-toggle::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-price {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
}

.slider-price:hover {
  opacity: 1;
}

.slider-price::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: url("../images/icons/square.svg");
  background-size: cover;
  cursor: pointer;
}

.img-helmut {
  width: 100%;
}

.michel-kors {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.michel-kors-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 992px) {
  .michel-kors {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .michel-kors-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.boxes img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.boxes h5 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider {
  position: relative;
}

.slider .arrows img {
  width: 20px;
  position: absolute;
  content: '';
}

.slider .arrows .arrow-left {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .arrows .arrow-right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider:hover {
  background-color: #FFFFFF;
}

@media (max-width: 992px) {
  .arrows {
    display: none;
  }
}

#tom-dixon .bg-fon-decoration {
  position: relative;
}

#tom-dixon .bg-fon-decoration::before {
  position: absolute;
  content: "";
  top: -10%;
  width: 100%;
  height: 60px;
  background-color: #F8F8F8;
}

#events .img-ctr {
  overflow: hidden;
}

#events .img-ctr img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#events .card-body span, #events .card-body time, #events .card-body a {
  font-size: 14px;
  color: #C1C1C1;
}

.card-img-top {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-img-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 576px) {
  .event-mq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.img-container {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.img-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  position: relative;
  font-weight: 300;
}

.footer a, .footer p {
  color: #191919;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer a:hover {
  opacity: 0.5;
}

.footer::before {
  position: absolute;
  content: "";
  top: -160px;
  width: 100%;
  height: 160%;
  background-color: #F8F8F8;
  z-index: -1;
}

@media (max-width: 768px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.success-message {
  display: none;
}

.success-message .success-message-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  width: 50%;
  padding: 0.5em;
  font-size: 12px;
  color: #71DE56;
}

.success-message .success-message-con img {
  height: 14px;
}

.numbers {
  color: black;
}

.basket-popup {
  display: none;
  width: 600px;
  position: absolute;
  background-color: #fff !important;
  left: 60%;
  top: 40%;
  z-index: 500;
}

.basket-popup .img-basket {
  width: 80px;
}

.img-sm {
  width: 14px;
}

button img {
  width: 20px;
}

.k-btn-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background-color: #4C4C4C;
  color: #FFFFFF !important;
  padding: 0.5rem 2rem !important;
  font-weight: 300;
  margin: 1em 0;
}

.k-btn-primary.secondary {
  background-color: #FFFFFF;
  color: #191919 !important;
}

.k-btn-primary:hover {
  background-color: #191919;
}

.k-btn-primary:hover::before {
  left: 12%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.k-btn-primary:hover::after {
  right: 12%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.k-btn-primary:hover.secondary {
  background-color: #C1C1C1;
}

.k-btn-primary::before {
  position: absolute;
  content: "[";
  left: 15%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.k-btn-primary::after {
  position: absolute;
  content: "]";
  right: 15%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.third-btn {
  padding: 0rem 1rem;
  position: relative;
}

.third-btn:hover {
  color: #191919 !important;
}

.third-btn:hover::before {
  left: 10% !important;
  top: -10%;
}

.third-btn:hover::after {
  right: 10%;
  top: -10%;
}

.third-btn::before {
  position: absolute;
  content: "[";
  left: 12%;
  top: -10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.third-btn::after {
  position: absolute;
  content: "]";
  right: 12%;
  top: -10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=main.css.map */